.cart {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  margin-left: 8vw;
  margin-top: calc(4.6vw + 40px);
  transition: all 0.45s ease;
  &-header {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #fa4251;
    font-family: "MullerBold";
    letter-spacing: 0.75px;
  }
  &-content {
    max-width: 1350px;
    margin: 0 auto;
    position: relative;
    // padding: 40px 60px;
    background-color: #fff;
    transition: all 0.45s ease;
  }
}

.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.cart-list {
  &-item {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-family: "MullerRegular";
      font-weight: 400;
      font-size: 24px;
      flex: 2;
      text-align: center;
    }

    span {
      font-family: "MullerBold";
      color: #fa4251;
    }

    img {
      width: 120px;
    }
  }

  .toggle-count {
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 35px;

    button {
      flex: 1;
    }
  }

  button {
    padding: 0;
    border: none;
    display: block;
    background-color: transparent;
  }

  .delete-item {
    font-size: 22px;
  }
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  &__price {
    margin: 0;
    font-size: 20px;
  }
  &__header {
    margin: 0;
  }
}
