html,
body {
  height: 100%;
}

.admin {
  display: flex;
  width: 100%;
  height: 100vh;
}

.admin-aside {
  top: 0;
  //   position: fixed;
  //   height: 100vh;
  background: #fff;
  z-index: 1070;
  width: 16%;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
    0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
    0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
}

.admin-main {
  background-color: #f5f6f8;
  width: 84%;
  flex: 1;

  form {
    position: relative;
    background-color: #fff;
    max-width: 95%;
    margin: 40px auto;
    border-radius: 10px;
    padding: 70px 10px 10px 10px;
    box-shadow: 0 0 10px #999;

    h2 {
      position: absolute;
      width: 97%;
      height: 60px;
      line-height: 60px;
      padding-left: 20px;
      border-radius: 5px;
      top: -20px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      box-shadow: 0 0 1px rgba(0, 0, 0, .8);
      font-size: 18px;


      background-color: #fa4251;
      color: #fff;
    }

    input {
      display: block;
      width: 100%;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #999;
      padding: 10px;
      margin-bottom: 20px;

      &[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        &+label {
          color: white;
          background-color: #FA4251;
          display: inline-block;
          margin: 30px 0;
          padding: 10px 30px;
        }

        &:focus+label,
        &+label:hover {
          cursor: pointer;

        }
      }


    }

    select {
      display: block;
    }

    button[type='submit'] {
      border: none;
      background-color: transparent;
      border: 1px solid #999;
      padding: 7px 35px;

      display: block;
    }
  }

}