@import "node_modules/bootstrap/scss/bootstrap-reboot";

@font-face {
  font-family: "MullerBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"),
    url("./assets/fonts/MullerBold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/MullerBold.woff")
      format("woff");

  /* Modern Browsers */
}

@font-face {
  font-family: "MullerRegular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"),
    url("./assets/fonts/MullerRegular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/MullerRegular.woff")
      format("woff");

  /* Modern Browsers */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "MullerRegular";
  font-size: 16px;
  color: #333;
}

button:focus {
  outline: none;
}

.container {
  padding: 0 30px;
}

.row {
  display: flex;
}

.main {
  width: 100%;
  margin-left: 8vw;
  margin-top: calc(4.6vw + 40px);
}

.app {
  // padding-top: 80px;
  // padding-left: 140px;
}
