.categories-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 8vw;
    // background-color: red;
    left: 0;
    height: 100vh;
    border-right: 1px solid #ececec;
}

.categories-list {
    width: 100%;
    list-style-type: none;

    &__item {
        margin-top: 40px;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        transition: all .35s ease;
        padding: 10px 0;

        &:hover {
            color: #000;
            text-decoration: none;
            background-color: #FF0000;
            transition: all .35s ease;

            span {
                color: #fff;
                transition: all .35s ease;
            }
        }
    }

    img {
        display: block;
        margin-bottom: 5px;
    }

    span {
        color: #000;
        text-transform: uppercase;
        font-size: 13px;
    }

}